{% extends 'layoutProfilUser.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}
{% block body %}

<!-- Chargement de l'API Google maps -->
<div class="container-fluid">
    <div id="map" style="width:100%;height:750px" class="img-responsive"></div>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 11
        });
        var infoWindow = new google.maps.InfoWindow({map: map});
        var image = 'https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fmaps.google.com%2Fmapfiles%2Fms%2Fmicons%2Fgreen-dot.png&f=1';
        var ltlng = [];
        {% for location in locations %}
        ltlng.push(new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}));
        {% endfor %}

        map.setCenter(ltlng[0]);
        for (var i = 0; i <= ltlng.length; i++) {
            marker = new google.maps.Marker({
                map: map,
                position: ltlng[i],
                title : "cliquez-moi !",
                icon : image
            });



            ;

            (function (i, marker) {

                google.maps.event.addListener(marker, 'click', function () {


                    infowindow = new google.maps.InfoWindow({
                        content: '<div id=infobulle>'+'<img src="{{ asset('images/test-01.png') }} class="img-responsive">'+'</div>',

                    });


                    infowindow.open(map, marker);

                });

            })(i, marker);

        }
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

                marker = new google.maps.Marker({
                    map: map,
                    position: pos,
                    icon: iconBase + 'library_maps.png'


                });

                infoWindow.setPosition(pos);
                infoWindow.setContent('Vous êtes ici');
                map.setCenter(pos);

            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                'Erreur: La géolocalistion a échoué.' :
                'Erreur: Votre navigateur ne supporte pas la géolocalistaion.');
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTOZi5eTjC8myzcVmB7PNSxx02zhXdB8Q&callback=initMap">
</script>

</div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}


{% endblock %}
