{% extends 'layoutProfilUser.html.twig' %}
{% block profilUser %}
        <div class="container-fluid pageUser">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ path('profilval') }}"><img src="{{ asset('images/valeriecircle.png') }}" class="img-responsive imgProfilUser center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 align carre">
                    <a href=""><img src="{{ asset('images/recherchefooter-01.png') }}" class="img-responsive imgCarre center-block"></a>
                    <p class="titreBouton">Rechercher</p>
                </div>
                <div class="col-xs-5 align carre">
                    <a href="map" class="autour" title="Trouver un site près de chez moi">
                    <img src="{{ asset('images/autour-01.png') }}" class="img-responsive imgCarre center-block">
                    <p class="titreBouton">Autour de moi</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 align carre">
                    <a href=""><img src="{{ asset('images/calendrierfooter-01.png') }}" class="img-responsive imgCarre center-block"></a>
                    <p class="titreBouton">Mon calendrier</p>
                </div>
                <div class="col-xs-5 align carre">
                    <a href=""><img src="{{ asset('images/lovefooter-01.png') }}" class="img-responsive imgCarre center-block"></a>
                    <p class="titreBouton">Mes favoris</p>
                </div>
            </div>
        </div>
{% endblock %}
{% block footer %}
    <div class="col-xs-offset-2 col-xs-8">
    <a href="{{ path('user') }}"><img src="{{ asset('images/LOGO FINAL copie-01.png') }}" alt="" class="img-responsive logo_marque"></a>
    </div>
{% endblock %}