{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{  asset('css/profilUsercss.css')}}">
{% endblock %}

{% block body %}
    {% block header %}
    {% endblock %}

    {% block profilUser %}

    {% endblock %}

    {% block footer %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <a href="{{ path('user') }}"><img src="{{ asset('images/LOGO FINAL copie-01.png') }}" alt="" class="img-responsive logo_marque"></a>
        </div>
        <div class="col-xs-offset-1 col-xs-2">
            <a href=""><img src="{{ asset('images/AUTOUR 3-01.png') }}" alt="" class="img-responsive logos_footer"></a>
        </div>
        <div class="col-xs-2">
            <a href=""><img src="{{ asset('images/CALENDRIER 3-01.png') }}" alt="" class="img-responsive logos_footer"></a>
        </div>
        <div class="col-xs-2">
            <a href=""><img src="{{ asset('images/RECHERCHE 3-01.png') }}" alt="" class="img-responsive logos_footer"></a>
        </div>
        <div class="col-xs-2">
            <a href=""><img src="{{ asset('images/LOVE 3-01.png') }}" alt="" class="img-responsive logos_footer"></a>
        </div>
    </div>
</div>
    {% endblock %}

{% endblock %}