{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{  asset('css/profilUsercss.css')}}">
{% endblock %}

{% block body %}
    {% block header %}
    {% endblock %}

    {% block profilUser %}

    {% endblock %}

    {% block footer %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-7 col-xs-1">
            <img src="{{ asset('images/calendrierfooter-01.png') }}" alt="" class="img-responsive logos">
        </div>
        <div class="col-xs-1">
            <img src="{{ asset('images/recherchefooter-01.png') }}" alt="" class="img-responsive logos">
        </div>
        <div class="col-xs-1">
            <img src="{{ asset('images/lovefooter-01.png') }}" alt="" class="img-responsive logos">
        </div>
        <div class="col-xs-2">
            <img src="{{ asset('images/LOGO FINAL copie-01.png') }}" alt="" class="img-responsive logos">
        </div>
    </div>
</div>
    {% endblock %}

{% endblock %}